/************************************
*
*   Indigo          : #3f51b5
*   Indigo (dark)   : #303f9f
*   Light Blue      : #c5cae9
*   White           : #fff
*   Pink            : #ff4081
*   Gray (dark)     : #212121
*   Gray (medium)   : #727272
*   Gray (light)    : #b6b6b6
*
************************************/


/***********************************
*           Base
************************************/

body{
    color: #b9b9b9;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4b4b4b;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h5{
    text-align: center;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

li{
    display: inline; 
}

p{
    
}

a{
}

a:hover,
a:active,
a:focus{
}

/***********************************
*           Header
***********************************/

.circle-mid{
    position:absolute;
    left: 45%;
    top: 20%;
    width: 150px;
    height: 150px;
    border: 5px solid;
    background-color: #dedede;
    border-color: #a5a5a5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 99;
}

.circle-mid2{
    position:absolute;
    left: 45%;
    top: 50%;
    width: 150px;
    height: 150px;
    border: 5px solid;
    background-color: #dedede;
    border-color: #a5a5a5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 98;
}

.circle-mid3{
    position:absolute;
    left: 45%;
    top: 80%;
    width: 150px;
    height: 150px;
    border: 5px solid;
    background-color: #dedede;
    border-color: #a5a5a5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 97;
}

.container{

}

.red-side{
    float: left;
    width: 20%;
    height: 100vh;
    background-color: #ff6464;
}

.blue-side{
    position: relative;
    left: 80%;
    width: 20%;
    height: 100vh;
    background-color: #64b2ff;
}


.highlight{
    background-color: aqua;
}

.point-container{
    position: absolute;
    width: 100%;
    top: 2%;
    text-align: center;
}

.point-li{
    font-size: 38px;
}

#auth{
    position: absolute;
    width: 100%;
    bottom: 1%;
    text-align: center;
}














